body {
    font-size: 16px;
    color: #fff;
    background-color:turquoise;
    font-family: 'Sriracha', cursive;
}

/** HEADER **/
#header-nav{
    background-color:aliceblue;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: aliceblue;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

    .navbar-brand h1 {
        color:goldenrod;
        font-size: 2em;
    }

    .navbar-brand a:hover {
        text-decoration: none;
        text-shadow: 1px 1px 1px #fe9797;
    }

#nav-list {
    background-color: aliceblue;
}

    #nav-list a {
        /*text-align: center;*/
        font-weight: bolder;
        color: goldenrod;
        font-size: 1.2em;
    }

        #nav-list a:hover {
            color: #202020;
            background-color: #fce29e;
        }

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid groove;
}

/* END HEADER */




/* HOME PAGE */
#main-content h1{
    text-align:center;
}

div .col-md-12{
    background-color:darkgreen;
    padding:0px 10px 10px 10px;
    margin-bottom:10px;
    box-shadow:5px 5px;
}
h2{
    text-align:center;
    padding-top:0;
}

/* END HOME PAGE */
